body{
    background-image: url(../assets/img/1770.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}

form{
    width: 500px;
    margin: auto;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    opacity: 0.8;
}

img{
    text-align: center;
    display: block;
    margin: auto;
}

.sign-up{
    margin-top: 70px;
}
button{
    margin-top: 10px;
    
}
input[type="text"]{
    border-radius: 15px;
  }
  input[type="number"]{
    border-radius: 10px;
  }

  input[type="password"]{
    border-radius: 15px;
  }
